
.App {
    margin: 40px;
    width: 900px;
}

.inputform {

}


.card {
    text: bold;
    text-shadow: 2px, 3px, 2px;
    margin: 5px;
    border-color: #0c5460;
}

.weatheritemcontainer {
    background-color: lightcyan;
    border: solid 1px silver;
    width: 130px;
    font-size: 12px;
    float: left;

}

.weatheritemcontainerSelected{


    background-color: lightseagreen;
    border: solid 1px silver;
    width: 130px;
    font-size: 12px;
    float: left;
}
.detweather {
    background-color: lightseagreen;
    border: solid 1px silver;
    width: 130px;
    font-size: 12px;
    float: left;

}



